* {
  /* font-family: "Rajdhani", sans-serif; */
}

.header-container {
  display: flex;
  align-items: center;
}
.header-container > img {
  max-width: 10%;
}
.header-container > h1 {
  color: blue;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5em;
}
/* Home cart */
.user-info {
  display: flex;
  align-items: center;
  line-height: 0;
  margin-top: 2em;
}
.user-info span {
  margin: 0.4em;
}
.user-info img {
  max-width: 30%;
  border-radius: 0.5em;
  margin-left: 4em;
}
.body-info {
  line-height: 1.1em;

  background-color: #f2f4fa;
  box-sizing: border-box;
  padding: 1em;
  margin: 2em 1.2em;
  border-radius: 1em;
}
/* add break */
.add-break {
  background-color: #f2f4fa;
  padding: 1em;
  margin: 2em 1.2em;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}
.add-break button {
  background-color: #ffffff;
  border: none;
  color: black;
  font-weight: 600;
}
.cart {
  background-color: #ffffff;
}

/* services */
@media only screen and (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    background: #f2f4fa;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .services-container {
    padding: 3em;
  }
}
